<?xml version='1.0' encoding='utf-8'?>
<widget id="io.seeren.programmationlab" version="0.0.2" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Programmation Lab</name>
    <description>
        Apprenez à programmer pour le web avec HTML, JavaScript, Angular, Web-GL, Cordova, PHP, Symfony, SQL, UML, Scrum, WordPress etc. Gratuitement - "Programmation Lab: Progressez en Programmation en prélevant vos extraits préférés"
    </description>
    <author email="consultant@seeren.fr" href="https://github.com/seeren-training">
            Seeren
    </author>
    <content src="index.html" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="HeaderColor" value="#006064" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashNavigationBarBackgroundColor" value="#000000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="NavigationBarBackgroundColor" value="#000000" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <resource-file src="resources/colors.xml" target="/app/src/main/res/values/colors.xml" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <splash density="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.png" />
    </platform>
</widget>
