<div class="mdl-grid mdl-color--accent-contrast w-100 h-min-100 p-relative border-box">
    ${!favoriteList.length
    ? `<div class="m-auto mdl-typography--text-center mdl-cell mdl-cell--8-col">
        <i class="lab-icons"></i>
        <div class="mdl-typography--headline">
            Aucun extrait
        </div>
    </div>`
    : `<ul class="mdl-list mdl-grid">
        ${ favoriteList.map((favorite, index) =>
        `<li
            class="mdl-cell mdl-cell--6-col-phone mdl-cell--4-col-tablet mdl-cell--3-col p-0 m-1 border-box mdl-shadow--2dp mdl-list__item mdl-color-text--accent-contrast mdl-color--${getColor(favorite.course)}">
            <span class="border-box mdl-typography--headline">
                ${favorite.chapter}: ${favorite.section}
            </span>
            <span class="mdl-layout-spacer"></span>
            <button onclick="onFavorite(${index})" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons toggle">keyboard_arrow_right</i>
            </button>
            <span class="w-100 mdl-typography--subhead mdl-color--${getColor(favorite.course).substr(0, getColor(favorite.course).length - 3) + (parseInt(getColor(favorite.course).substr(getColor(favorite.course).length - 3), 10) + 100)}">
                ${favorite.course}
            </span>
        </li>`).join('')}
    </ul>`}
</div>