app-favorite-list {
    @extend .p-absolute, .h-100, .w-100, .border-box;
    padding-top: 56px;
    .mdl-grid {
        align-content: center;
        flex-direction: column;
        .empty {
            .material-icons {
                font-size: 3em;
            }
        }
        .mdl-list {
            .mdl-list__item {
                flex-shrink: 0;
                flex-wrap: wrap;
                margin: 0.5em 0;
                .mdl-typography--subhead {
                    padding: 0.5em 1em;
                }
                .mdl-typography--headline {
                    padding: 0.5em 1em;
                }
                .mdl-button {
                    margin-right: 16px;
                }
            }
        }
    }
}
