app-course-list {
    & > .mdl-layout__header {
        &.sticky {
            position: fixed;
            top: 36px;
            left: 0;
        }
        height: 0px;
        min-height: 0px;
        position: absolute;
        display: initial;
        .mdl-layout__header-row {
            height: 40px;
            .material-icons {
                position: absolute;
                left: -2.2em;
                top: -0.1em;
            }
        }
    }
    > header {
        height: 50vh;
    }
    .mdl-grid {
        padding-top: 3.5em;
        .mdl-cell {
            cursor: pointer;
            border-radius: 0.2em;
        }
    }
    .mdl-card {
        .mdl-badge {
            font-size: 28px;
            &::after {
                right: -22px;
            }
        }
        .mdl-card__actions {
            display: flex !important;
        }
    }
    > footer {
        height: 50vh;
    }
}
