${ courseList
? `<header class="mdl-color--${courseList[0].color}">
    <div class="h-100 w-100 m-0 mdl-cell mdl-card">
        <div class="mdl-card__title mdl-card--expand mdl-color-text--grey-50">
            <h2 class="display-1" onclick="show('${courseList[0].name}')">${courseList[0].name}</h2>
            <p class="w-100 mdl-card__supporting-text mdl-typography--text-center mdl-color-text--grey-50">
                ${courseList[0].description}
            </p>
        </div>
        <div
            class="mdl-card__actions mdl-color-text--grey-50 mdl-color--${courseList[0].color.substr(0, courseList[0].color.length - 3) + (parseInt(courseList[0].color.substr(courseList[0].color.length - 3), 10) + 100)}">
            <span class="material-icons">update</span>
            <div class="mdl-layout-spacer"></div>
            <span>${ new Intl.DateTimeFormat('fr-FR').format(new Date(courseList[0].updated))}</span>
        </div>
        <div class="mdl-card__menu mdl-color-text--grey-50">
            ${courseList[0].stargazers
            ? `<i class="material-icons mdl-badge mdl-badge--overlap"
                data-badge="${courseList[0].stargazers}">favorite</i>`
            : ''}
        </div>
    </div>
</header>
<section class="p-absolute h-0 h-min-0 mdl-layout__header">
    <div class="mdl-layout__header-row mdl-color--black">
        <span class="mdl-layout-title"><i class="p-absolute material-icons">library_books</i>${courseList.length}
            Formation</span>
    </div>
</section>
<section class="mdl-grid mdl-color--accent-contrast">
    ${ courseList.map((course, key) => key
    ? `<div onclick="show('${course.name}')"
        class="mdl-cell mdl-cell--6-col-phone mdl-cell--4-col-tablet mdl-cell--3-col mdl-card mdl-shadow--2dp mdl-color--${course.color}">
        <div class="mdl-card__title mdl-card--expand mdl-color-text--grey-50">
            <h3 class="mdl-card__title-text">${course.name}</h3>
        </div>
        <div class="mdl-card__supporting-text  mdl-color-text--grey-50">${course.description}</div>
        <div
            class="mdl-card__actions mdl-color-text--grey-50 mdl-color--${course.color.substr(0, course.color.length - 3) + (parseInt(course.color.substr(course.color.length - 3), 10) + 100)}">
            <i class="material-icons">update</i>
            <div class="mdl-layout-spacer"></div>
            <span>${ new Intl.DateTimeFormat('fr-FR').format(new Date(course.updated))}</span>
        </div>
        <div class="mdl-card__menu mdl-color-text--grey-50">
            ${course.stargazers
            ? `<i class="material-icons mdl-badge mdl-badge--overlap" data-badge="${course.stargazers}">favorite</i>`
            : ''}
        </div>
    </div>`
    : '').join('')}
</section>`
: '' }