app-main {
    > header {
        height: 30vh;
        align-content: center;
        flex-direction: column;
        .empty {
            .material-icons {
                font-size: 3em;
            }
        }
    }
    > .courses {
        position: relative;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        height: calc(70vh - 35px);
        overflow: hidden;
        h3 {
            z-index: 9;
            font-weight: 200;
            hyphens: none;
        }
        .mdl-button {
            z-index: 9;
            overflow: visible;
        }
        $spacing: 1000;
        @mixin particles($max) {
            $box-shadow: 0px 0px #9affff;
            @for $i from 1 through $max {
                $box-shadow: #{$box-shadow},
                    (random($spacing / 2) + random($spacing / 2) * -1) + px random($spacing) + px #006064;
            }
            box-shadow: $box-shadow;
        }
        @keyframes particles {
            0% {
                transform: translateY(0px);
            }
            80% {
                opacity: 1;
            }
            100% {
                transform: translateY($spacing * -1 + px);
                opacity: 0;
            }
        }
        .particle-mask {
            background: linear-gradient(transparent 50%, #000000 95%);
            position: absolute;
            z-index: 8;
        }
        .particle {
            position: relative;
            margin: auto;
            border-radius: 50%;
            &.particle-1 {
                animation: particles 15s linear infinite;
                @include particles(100);
                height: 2px;
                width: 2px;
            }
            &.particle-2 {
                animation: particles 20s linear infinite;
                @include particles(75);
                height: 5px;
                width: 5px;
            }
            &.particle-3 {
                animation: particles 25s linear infinite;
                @include particles(20);
                height: 8px;
                width: 8px;
            }
        }
    }
}
