${ course && course.readme ? `<div
    class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdl-color-text--white mdl-color--${course.color.substr(0, course.color.length - 3) + (parseInt(course.color.substr(course.color.length - 3), 10) + 100)}">

    <div class="mdl-tabs__tab-bar mdl-shadow--4dp mdl-color--${course.color}">
        <a href="#description" class="is-active mdl-tabs__tab mdl-color-text--white">Description</a>
        <a href="#summary" class="mdl-tabs__tab mdl-color-text--white">Programme</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="description">

        <div class="mdl-grid">
            <h2 class="mdl-cell mdl-cell--8-col mdl-typography--caption">
                ${course.readme.childNodes[0].innerHTML}
            </h2>
            <h3 class="mdl-cell mdl-cell--8-col mdl-typography--headline">
                ${course.readme.childNodes[3].innerHTML}
            </h3>
            <p class="mdl-cell mdl-cell--8-col">
                ${course.readme.childNodes[4].innerHTML}
            </p>
            <h3 class="mdl-cell mdl-cell--8-col mdl-typography--headline">
                Durée: ${course.readme.childNodes[2].innerHTML}
            </h3>
            <div class="duration">
                <p class="mdl-typography--display-1">
                    0 <span class="mdl-typography--subhead">%</span>
                </p>
                <svg viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="54" fill="none" stroke="#212121" stroke-width="12" />
                    <circle cx="60" cy="60" r="54" fill="none" stroke="#FFFFFF" stroke-width="12" stroke-dasharray="340"
                        stroke-dashoffset="-0" />
                </svg>
            </div>
        </div>
    </div>

    <div class="mdl-tabs__panel" id="summary">
        <div class="mdl-grid justify-center">
            ${ course.wikiList.map((wiki, index) => index
            ? `<div class="summary-${index} mdl-card mdl-cell mdl-cell--8-col mdl-shadow--2dp">
                <div class="mdl-card__title mdl-shadow--2dp">
                    <h2 class="mdl-card__title-text">${wiki.childNodes[0].innerHTML}</h2>
                    <div class="mdl-layout-spacer"></div>
                    <button onclick="toggle(${index})" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                </div>
                <div class="mdl-card__supporting-text">
                    <ul class="mdl-list">
                        ${ wiki.childNodes.map((node) => 'H2' !== node.tagName
                        ? ''
                        : `<li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                ${node.innerText.substring(node.innerHTML.indexOf(' '))}
                            </span>
                            <button class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons mdl-list__item-icon">keyboard_arrow_right</i>
                            </button>
                        </li>`).join('')}
                    </ul>
                </div>
            </div>`
            : ``).join('')}
        </div>
    </div>

</div>` : `` }