${course
? `<div
    class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdl-color-text--accent-contrast mdl-color--${course.color.substr(0, course.color.length - 3) + (parseInt(course.color.substr(course.color.length - 3), 10) + 100)}">
    <div class="mdl-tabs__tab-bar mdl-shadow--4dp mdl-color--${course.color}">
        <a href="#description" onclick="onTab('description')"
            class="${'description' === activeTab ? 'is-active ' : ''}mdl-tabs__tab mdl-color-text--accent-contrast">Description</a>
        <a href="#summary" onclick="onTab('summary')"
            class="${'summary' === activeTab ? 'is-active ' : ''}mdl-tabs__tab mdl-color-text--accent-contrast">Programme</a>
    </div>
    <div class="${'description' === activeTab ? 'is-active ' : ''}mdl-tabs__panel" id="description">
        <div class="w-100 border-box mdl-grid">
            <h2 class="mdl-cell mdl-cell--8-col mdl-typography--headline">
                ${this.course.readme.document.querySelector('h1').innerHTML}
            </h2>
            <h3 class="mdl-cell mdl-cell--8-col mdl-typography--caption">
                ${this.course.readme.document.querySelector('h2 ~ h2').innerHTML}
            </h3>
            <p class="mdl-cell mdl-cell--8-col mdl-typography--headline">
                ${this.course.readme.document.querySelector('p ~ p').innerHTML}
            </p>
            <h3 class="mdl-cell mdl-cell--8-col mdl-typography--caption">
                Durée: ${this.course.readme.document.querySelector('p').innerHTML}
            </h3>
            <div class="p-relative d-flex duration">
                <p class="m-0 mdl-typography--display-1">
                    ${percent} <span class="mdl-typography--subhead">%</span>
                </p>
                <svg class="p-absolute" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="54" fill="none" stroke="#212121" stroke-width="12" />
                    <circle cx="60" cy="60" r="54" fill="none" stroke="#FFFFFF" stroke-width="12" stroke-dasharray="340"
                        stroke-dashoffset="-${340 / (100 / percent)}" />
                </svg>
            </div>
        </div>
    </div>
    <div class="w-100 ${'summary' === activeTab ? 'is-active ' : ''}mdl-tabs__panel" id="summary">
        <div class="w-100 mdl-grid">
            ${course.wikiList.map((wiki, wikiIndex) => wikiIndex
            ? `<div class="summary-${wikiIndex} mdl-card mdl-cell mdl-cell--8-col mdl-shadow--2dp">
                <div class="mdl-card__title mdl-shadow--2dp">
                    ${ wiki.checked ? `<i
                        class="mdl-list__item-icon material-icons mdl-color-text--green-500 done">done</i>` : ``}
                    <h2 class="mdl-card__title-text">
                        ${wiki.document.querySelector('h1').innerHTML}
                    </h2>
                    <div class="mdl-layout-spacer"></div>
                    <button onclick="onSummary(${wikiIndex})" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons toggle">keyboard_arrow_down</i>
                    </button>
                </div>
                <div class="w-100 p-0 mdl-card__supporting-text">
                    <ul class="m-0 d-none mdl-list">
                        ${Array.from(wiki.document.querySelectorAll('h2')).map((h2, sectionIndex) => `<li
                            class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                ${h2.innerText.substring(3)}
                            </span>
                            <button onclick="onChapter(${wikiIndex}, ${sectionIndex})"
                                class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons mdl-list__item-icon">keyboard_arrow_right</i>
                            </button>
                        </li>`).join('')}
                    </ul>
                </div>
            </div>`
            : '').join('')}
        </div>
    </div>
</div>`
: '' }