@import "./courses/courses.scss";
@import "./favorites/favorites.scss";
@import "./main/main.component.scss";
@import "./navigation/navigation.component.scss";

@import "./shared/components/spinner/spinner.component.scss";
@import "./shared/components/retry/retry.component.scss";

app {
    main {
        margin-bottom: 35px;
        router {
            min-height: 100%;
            display: block;
        }
    }
}
