.mdl-layout__tab-bar-container {
    height: 0;
    $size: 35px;
    .mdl-layout__tab-bar {
        position: fixed;
        bottom: 0px;
        left: 0;
        height: $size;
        .is-active {
            @extend .mdl-color--cyan-800;
        }
    }
    .mdl-layout__tab {
        height: $size;
    }
}
