.mdl-layout__header {
    transition: background 0.2s;
    .mdl-layout-title {
        transition: font-size 0.2s;
    }
    &.scrolled {
        @extend .mdl-shadow--8dp;
        $size: 36px;
        font-size: 0.7em;
        min-height: $size;
        .mdl-layout__header-row {
            height: $size;
        }
        .mdl-layout-title {
            font-size: ($size / 2) - 2;
        }
    }
}
