.mdl-layout__header {
    transition: background 0.2s;
    .mdl-layout-title {
        transition: font-size 0.2s;
    }
    &.scrolled {
        $size: 36px;
        @extend .mdl-shadow--8dp;
        font-size: 0.7em;
        min-height: $size;
        .mdl-layout__header-row {
            height: $size;
        }
        .mdl-layout-title {
            font-size: ($size / 2) - 2;
        }
        .mdl-layout__drawer-button {
            margin: 4px $size / 3;
            color: inherit;
            height: $size - 4;
            width: $size;
            line-height: $size;
        }
    }
}
