app-navigation {
    .loader {
        background-image: url("./../resources/icon.png");
    }
    .mdl-button--mini-fab {
        position: absolute;
        left: -2.3em;
        top: -0.3em;
    }
    .logo {
        transition: width 0.2s;
        transition: height 0.2s;
        width: 3em;
        height: 3em;
        margin-right: 2em;
    }
    & > .sticky {
        background-color: white !important;
        color: black !important;
    }
}
