<header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
        ${'main' === route
        ? `<h1 class="mdl-layout-title mdl-typography--text-center">
            <img src="dist/resources/icon.png" class="logo" />
           Developpeur Web et Mobile
        </h1>`
        : `<h1 class="mdl-layout-title mdl-typography--text-center">
            <button onclick="back()"
                class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect">
                <i class="material-icons">arrow_back</i>
            </button>
            ${title.charAt(0).toUpperCase() + title.slice(1)}
        </h1>`}
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-shadow--16dp mdl-color--accent">
        <a onclick="navigate('main')" href="#main" class="mdl-layout__tab ${'main' === route ? 'is-active': ''}">
            <span class="material-icons">home</span>
        </a>
        <a onclick="navigate('courses')" href="#courses"
            class="mdl-layout__tab ${'courses' === route || 'course' === route || 'chapter' === route ? 'is-active': ''}">
            <span class="material-icons">library_books</span>
        </a>
        <a ${'chapter' !==route ? `onclick="navigate('favorites')" href="#favorites" ` :
            `onclick="toogleFavorite(event)" href="#" `}
            class="mdl-layout__tab ${'favorites' === route ? 'is-active': ''}${'chapter' === route ? ' chapter' : ''}">
            <span class="material-icons">grade</span>
        </a>
    </div>
</header>
<div class="mdl-layout__content">
    <span class="mdl-layout__tab-panel is-active" id="main"></span>
    <span class="mdl-layout__tab-panel" id="courses"></span>
    <span class="mdl-layout__tab-panel" id="favorites"></span>
</div>