app-navigation {
    .loader {
        background-image: url("./../resources/icon.png");
    }
    .mdl-snackbar {
        height: 35px;
        .mdl-snackbar__text {
            padding: 7px 12px;
        }
    }
    .mdl-layout__header {
        &.scrolled {
            background-color: white !important;
            color: black !important;
            .mdl-button--mini-fab {
                top: 0.05em;
            }
        }
        .mdl-layout__header-row {
            padding-left: 0 !important;
            .mdl-layout-title {
                padding: 0.5em 2.75em;
                width: 100%;
                box-sizing: border-box;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                .mdl-button--mini-fab {
                    position: absolute;
                    top: 0.05em;
                    left: 0.5em;
                }
                .logo {
                    position: absolute;
                    top: -0.125em;
                    left: 0.4em;
                    $size: 36px;
                    width: $size !important;
                    min-width: $size !important;
                    height: $size !important;
                }
            }
        }
        .mdl-layout__tab-bar-container {
            height: 0;
            .mdl-layout__tab-bar {
                position: fixed;
                bottom: 0px;
                left: 0;
                height: 35px;
                .mdl-layout__tab {
                    height: 35px;
                    &.is-active::after {
                        background-color: white !important;
                    }
                    &.is-active.chapter::after {
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
    .mdl-layout__content {
        display: none;
    }
}
