app-spinner {
    .loader {
        background-image: url("./../resources/icon-alpha.png");
    }
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100% - 56px);
    top: 56px;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    img {
        background-color: black;
        height: 3em;
        width: 3em;
        @keyframes logo {
            0%,
            100% {
                width: 2.75em;
                height: 2.75em;
            }
            50% {
                width: 3em;
                height: 3em;
            }
        }
        border-radius: 50%;
        animation: logo 1s ease-in-out infinite;
    }
}
